.main-panel {
    margin-top: 200px;
}
div.row {
    padding: 10px;
}
.header {
    background-color: black;
    color:white;
    font-weight: bold;
}
.panel {
    border-color: darkblue;
}
footer {
    background-color: black;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-align: center;
    position: static;
    padding: 30px;
    margin: 2px;
}